<!-- Comienza el Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <app-company-logo [companyLogo]="'Música Chilena'"></app-company-logo>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>¡Registra tu cuenta acá!</h1>
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Información Adicional</h4>
  </b>

  <ion-card class="login-card">

    <ion-card-content>

      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Email</ion-label>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Nombre</ion-label>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Apellido</ion-label>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Nombre de usuario</ion-label>
      </ion-item>

      <!-- Componente de Angular Material -->
      <mat-form-field appearance="outline" style="width:100%; background-color: black;">
        <mat-label style="color: white;">Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </ion-card-content>

  </ion-card>
</ion-content>
<!-- Termina el Content -->
