<!-- Comienza el Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <app-company-logo [companyLogo]="'Música Chilena'"></app-company-logo>
    <ion-title slot="primary">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>¡Registra tu cuenta acá!</h1>
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Información Adicional</h4>
  </b>

  <ion-card class="login-card">

    <ion-card-content>

      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Email</ion-label>
        <ion-input placeholder="Ingrese su email" type="email" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Nombre</ion-label>
        <ion-input placeholder="Ingrese su nombre" type="text" [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Apellido</ion-label>
        <ion-input placeholder="Ingrese su apellido" type="text" [(ngModel)]="usuario.apellido"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Nombre de usuario</ion-label>
        <ion-input placeholder="Ingrese su nombre de usuario" type="text" [(ngModel)]="usuario.username"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Contraseña</ion-label>
        <ion-input placeholder="Ingrese su contraseña" type="password" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" style="color: white;">Repita contraseña</ion-label>
        <ion-input placeholder="Repita su contraseña" type="password" [(ngModel)]="password2"></ion-input>
      </ion-item>

      <!-- Componente de Angular Material -->
      <mat-form-field appearance="outline" style="width:100%; background-color: black;">
        <mat-label style="color: white;">Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="usuario.nacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <ion-grid>
        <ion-row>
          <ion-col col-6>

            <ion-button expand="block" (click)="registro()" class="register-button">Registrar</ion-button>

            <ion-button shape="block" (click)="limpiar()">
              Limpiar
            </ion-button>

            <ion-text class="forgot-password" color="medium">
              <a href="/login">¿Ya tienes una cuenta? Ingresa aquí</a>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>
</ion-content>
<!-- Termina el Content -->