<!-- Comienza el Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <app-company-logo [companyLogo]="'Música Chilena'"></app-company-logo>
    <ion-title slot="primary">Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Tus datos</h1>
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Información Adicional</h4>
  </b>

  <ion-card class="login-card">

    <ion-card-content>

      <ion-item class="ion-padding-horizontal">
        <ion-label style="color: white;">Email</ion-label>
        <ion-text style="color: white;">{{usuario?.email}}</ion-text>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label style="color: white;">Nombre</ion-label>
        <ion-text style="color: white;">{{usuario?.nombre}}</ion-text>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label style="color: white;">Apellido</ion-label>
        <ion-text style="color: white;">{{usuario?.apellido}}</ion-text>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label style="color: white;">Nombre de usuario</ion-label>
        <ion-text style="color: white;">{{usuario?.usuario}}</ion-text>
      </ion-item>
      <ion-item class="ion-padding-horizontal">
        <ion-label style="color: white;">Fecha de nacimiento</ion-label>
        <ion-text style="color: white;">{{usuario?.fecha_nacimiento}}</ion-text>
      </ion-item>

    </ion-card-content>

  </ion-card>
</ion-content>
<!-- Termina el Content -->
