<!-- Comienza el Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <app-company-logo [companyLogo]="'Música Chilena'"></app-company-logo>
    <ion-title slot="primary">Música</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Imagen de usuario-->
  <div class="user-info">
    <img src="../../assets/img/usuario.png" alt="User Avatar" class="user-avatar"/>
  </div>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Catálogo</h1>
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
      <p *ngIf="usuarioRecibido">Usuario: {{usuarioRecibido}}</p>
    </ion-label>
  </ion-title>


  <div class="recomendaciones-info">
    <h2>2025</h2>
  </div>

  <!-- Cards de Recomendaciones -->
  <ion-card>
    <img src="../../assets/img/la_historia_tambien_es_cueca_lp1.jpg" alt="La Historia Grande"/>
    <ion-card-header>
      <ion-card-title>La Historia También Es Cueca - La Historia Grande</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Un proyecto que une el ritmo folclórico de la cueca con música experimental, para explicar la historia del universo desde el punto de vista de los pueblos indígenas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/punto_medio_lp1.jpg" alt="Sin destino"/>
    <ion-card-header>
      <ion-card-title>puntomedio - Sin destino</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Primer Long Play de la banda "puntomedio", con sonidos melancólicos provenientes de fusión Jazz/Rap
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/los_guinas_ep1.jpg" alt="Dolores y Placeres"/>
    <ion-card-header>
      <ion-card-title>Los Güiñas - Dolores y Placeres</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      "Los Güiñas" llegan con su primer Extended Play para mostrarnos las 2 caras de una misma moneda con sus guitarras llenas de overdrive y letras potentes
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/kurisou_lp1.jpg" alt="atardeceres en mundos alienígenas"/>
    <ion-card-header>
      <ion-card-title>kurisou - atardeceres en mundos alienígenas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Álbum debut del compositor "kurisou", con sonidos ambient y samples que se mezclan en tu cabeza
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/javiera_electra_lp1.jpg" alt="Helíade"/>
    <ion-card-header>
      <ion-card-title>Javiera Electra - Helíade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Primer álbum de la cantautora "Javiera Electra"
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/safo_lp1.jpg" alt="Cada Vez Que Estás Acá"/>
    <ion-card-header>
      <ion-card-title>Safo - Cada Vez Que Estás Acá</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Luego de su primer sencillo "Monocromía", sale el esperado disco debut de "Safo", con sonidos melancólicos, fusionando rock y techno.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="../../assets/img/alfilera_lp1.jpg" alt="Detrás de las Palabras"/>
    <ion-card-header>
      <ion-card-title>Alfilera - Detrás de las Palabras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Es el primer LP que lanza "Alfilera", con una mirada instrospectiva y vulnerable transmite con su voz variados sentimientos
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/ignacio_barrientos_lp2.jpg" alt="Inquebrantable"/>
    <ion-card-header>
      <ion-card-title>Ignacio Barrientos - Inquebrantable</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El músico de Jazz "Ignacio Barrientos" vuelve con una segunda producción, ahora en formato de quinteto.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/amanitas_ep2.jpg" alt="Todo Es Circular"/>
    <ion-card-header>
      <ion-card-title>Amanitas - Todo Es Circular</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El regreso de "Amanitas" con su nuevo EP, con un sonido renovado, pero con la misma energía
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/criss_rojas_ost2.jpg" alt="Capitana Moonjelly: Episodio 0 (Original Motion Picture Soundtrack)"/>
    <ion-card-header>
      <ion-card-title>Criss Rojas - Capitana Moonjelly: Episodio 0 (Original Motion Picture Soundtrack)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Luego de haber trabajado en la banda sonora de un videojuego chileno, "Criss Rojas" se aventura a componer la música de "Capitana Moonjelly", una nueva animación chilena, realizada por "Pocha Estudio".
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/dulce_margot_lp1.jpg" alt="Melodrama"/>
    <ion-card-header>
      <ion-card-title>Dulce Margot - Melodrama</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La banda "Dulce Margot" lanza nueva música en este pegajoso y popero LP.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/les_manus_ep1.jpg" alt="VERDE"/>
    <ion-card-header>
      <ion-card-title>Les Manus - VERDE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El trío de Manus lanzan su esperado EP "VERDE".
    </ion-card-content>
  </ion-card>


  <div class="recomendaciones-info">
    <h2>2024</h2>
  </div>

  <ion-card>
    <img src="../../assets/img/manul_lp1.jpg" alt="Piñata"/>
    <ion-card-header>
      <ion-card-title>Manul - Piñata</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Manul presenta un impecable trabajo con "Piñata", ganando así el premio a mejor nuevo artista para los Premios Pulsar 2025.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/luciana_garcia_ep1.jpg" alt="Subversión e Identidad"/>
    <ion-card-header>
      <ion-card-title>Luciana García - Subversión e Identidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Luego de haber estudiado en Berklee, la pianista de jazz nos trae su primer Extended Play.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/los_perros_de_pavlov_lp1.jpg" alt="En Esta Ciudad No Cabemos Los Dos"/>
    <ion-card-header>
      <ion-card-title>Los Perros De Pavlov - En Esta Ciudad No Cabemos Los Dos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La banda Citadina nos trae una gran producción que une los mundos del trap, el rap, el rock, el punk y el indie en un album ambicioso.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/purreira_lp2.jpg" alt="Caleta de canciones"/>
    <ion-card-header>
      <ion-card-title>Purreira - Caleta de canciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La entretenida agrupación nos muestra su nuevo trabajo "Caleta de canciones", disco con el cual ganaron el Premio Pulsar a Mejor Álbum de Música para la Infancia.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/nico_carreño_lp2.jpg" alt="ISRS"/>
    <ion-card-header>
      <ion-card-title>Nico Carreño - ISRS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Vuelve "Nico Carreño" con su segundo Long Play, con el cual sigue experimentando con ritmos mixtos y armonías alocadas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/matar_a_grax_ep1.jpg" alt="Zona de Aprendizaje"/>
    <ion-card-header>
      <ion-card-title>Matar a GraX - Zona de Aprendizaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La banda de math rock lanza su primer EP con un sonido de guitarras impecable.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/dulce_margot_ep1.jpg" alt="Funktastico"/>
    <ion-card-header>
      <ion-card-title>Dulce Margot - Funktastico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La primera producción de "Dulce Margot" ya se encuentra disponible con mucho Pop y Funk.
    </ion-card-content>
  </ion-card>


  <div class="recomendaciones-info">
    <h2>2023</h2>
  </div>
  
  <ion-card>
    <img src="../../assets/img/maria_y_los_templos_lp1.jpg" alt="La Prenda"/>
    <ion-card-header>
      <ion-card-title>María y los Templos - La Prenda</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Primer disco de la artista "María y los Templos", con un uso increíble de su guitarra y armonía.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/zona_costera_lp1.jpg" alt="Feria Libre"/>
    <ion-card-header>
      <ion-card-title>Zona Costera - Feria Libre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Luego de la sesión en vivo que salió en 2022, "Zona Costera" lanza su primer álbum, lleno de colores, sabores y ritmos latinoamericanos diversos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/los_perros_de_pavlov_ep1.jpg" alt="Sticker Album"/>
    <ion-card-header>
      <ion-card-title>Los Perros de Pavlov - Sticker Album</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      "Los Perros de Pavlov" nos traen su EP debut con cuatro canciones llenas de energía y rock.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/ignacio_barrientos_lp1.jpg" alt="1522"/>
    <ion-card-header>
      <ion-card-title>Ignacio Barrientos - 1522</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El guitarrista de jazz "Ignacio Barrientos" nos deleita con su primera producción, que nos narra sucesos de su vida entre 2015 a 2022.
    </ion-card-content>
  </ion-card>

</ion-content>