h1 {
    text-align: center;
}

h6 {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px; /* Tamaño de la imagen */
    height: auto;
    animation: zoomIn 3s ease-in-out infinite alternate;
}

/* Animación de zoom suave */
@keyframes zoomIn {
    0% {
        transform: scale(1); /* Tamaño original */
    }
    100% {
        transform: scale(0.5); /* Zoom leve */
    }
}

ion-card {
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

ion-card-title { 
    --color: #fff;
}

ion-card-header {
    text-align: center;
}

ion-list-header {
    text-align: center;
}

ion-item {
    --background: transparent;
}

ion-select {
  --color: #fff;            /* texto seleccionado */
  --placeholder-color: #aaa;
  --placeholder-opacity: 1;
  --icon-color: #fff;       /* flecha */
}

ion-item ion-select::part(text) {
  color: #fff !important;   /* Fuerza el texto dentro del Shadow DOM */
}

ion-item ion-select::part(placeholder) {
  color: #aaa !important;   /* placeholder adentro */
}

ion-select .select-text {
  color: #fff !important;
}

ion-select-option {
  --background: #000; /* fondo negro */
  --color: #fff; /* texto blanco */
}

ion-input {
    --padding-start: 10px;
    --color: #fff;
    --placeholder-color: #aaa;
    --placeholder-opacity: 1;
}

ion-textarea {
    --color: #fff;
    --placeholder-color: #aaa;
    --placeholder-opacity: 1;
}

ion-label {
    color: #ccc;
}

ion-button {
    --background: #007bff;
    --color: #fff;
    --border-radius: 20px;
    --box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    margin-top: 1rem;
}

ion-button:hover {
    --background: #0056b3;
}